# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example
temp_auto_push.bat

# Code coverage
coverage

# build folder
dist

# docker volume
data.gitignore
temp_interactive_push.bat
